node_modules
.env

// product off

const pool = new Pool({
    host: process.env.HOST_DB,
    port: process.env.PORT_DB,
    user: process.env.USER_DB,
    password: process.env.PASSWORD_DB,
    database: process.env.NAME_DB,
    //connectionString: process.env.DATABASE_URL
});




// product on

const pool = new Pool({
    //host: process.env.HOST_DB,
    //port: process.env.PORT_DB,
    //user: process.env.USER_DB,
    //password: process.env.PASSWORD_DB,
    //database: process.env.NAME_DB,
    connectionString: process.env.DATABASE_URL
});


PORT = 5432
HOST_DB = root
USER_DB = postgres
PASSWORD_DB = "yW895noplcLNbZh"
NAME_DB = resiliente
 

DATABASE_URL = postgres://postgres:yW895noplcLNbZh@backend-resilientepsicologiayconsultoria-dry-field-7144-db.flycast:5432/backend_resiliente?sslmode=disable

PORT = 5432
HOST_DB = localhost
USER_DB = postgres
PASSWORD_DB = "1414"
NAME_DB = postgres


DATABASE_URL = postgres://postgres:yW895noplcLNbZh@backend-resilientepsicologiayconsultoria-dry-field-7144-db.flycast:5432/backend_resiliente?sslmode=disable


const pool = new Pool ({
    user: 'postgres', 
    host: 'postgresql://backend-resiliente-restless-sound-5902-db.flycast'
    database: 'backend-resiliente-restless-sound-5902-db', 
    password: 'uND90j6GC4plJNv'
})


DATABASE_URL=postgres://backend_resiliente_fly:REziDZQhlZFJtvk@resilienteflydb.flycast:5432/backend_resiliente_fly?sslmode=disable

psql postgres://backend_resiliente_fly:wk2KKJpa0I1A9M@localhost:5432/backend_resiliente_fly

flyctl ssh console -a resilienteflydb  
psql postgres://backend_resiliente_fly:wk2KKJpa0I1A9M@localhost:5432/backend_resiliente_fly
